
@use 'variantes';


$red: red;
$blanco: white;
$negro: black;
$verde:green;
$rojo:red;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 90px solid;
    background-color:$blanco;
    display: flex;
    justify-content: space-around;
    align-items: center;
        .logo img{
            height: 100px;
            width: 150px;
        
        span{
            font-size: 50px;
            padding: 10px;
        }            
    }    
        li{
        display: inline;
        padding: 25px;
        font-size: 30px;
    }
        .iconos{
        letter-spacing: 20px;
        font-size: 30px;
    }
    }
body{
    height: solid;
    background-image: url(imagen/logos/fond13.png);
    background-size: 180px;

    background-repeat: repeat;

    
    }
    
#logo3{
    height: 50px;
    width: 200px;
}


.poner{ 

    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
    text-align: center;
    font-size: 90px  ;
    width: 500px ;
    height: 500px solid ;
    margin: 20px 15px;
    }   
    img{
    width: 200px;
    height: 250px;
    float: left;
    margin: 10px;    
    }
    
    p{    
    background-color: hwb(157 43% 34% / 0.452);
    padding:0px 35px; 
    font-size: 25px;
    }
}       



.inicio{
    display: grid;
    grid-template-columns: repeat(3, 10fr);
    grid-template-rows: repeat(4, 180px );
    grid-template-areas: 
    "img1 img1 img1"
    "img1 img1 img1"
    "img2 img3 img4"
    "img2 img3 img4";
    grid-gap: 10px;
    padding: 50px, ;

    .oferta{
        background-image: url(./imagen/ofertas/oferta.png);
        grid-area: img1;
        font-size: 150px;
    }
    .hombres{
        background-image: url(./imagen/hombre/HOMBRES.png);
        grid-area: img2;
    }
    .mujeres{
        background-image: url(./imagen/dama/mujer.jpg);
        grid-area: img3;
    }
    .niños{
        background-image: url(./imagen/ninos/niño.png);
        grid-area: img4;
    }
}

.galeria {
    width: 100%;
    height: 1000px;
    padding: 20px;
    margin: 5px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, );
    gap: 25px;
}

footer{
    text-align: center;
    font-size: 35px;
    .redes{
        text-align: center;
        letter-spacing: 20px;

    }    

}
#headenlaces{
    height: auto;    
        .logoenlaces{
            color: $negro;
            height: 60px;
                img{
                    width: 200px;
                    height: 60px;
                }
        }
}

.slide{
    margin: 10px 500px;
    img{
        height: 800px;
        background-size: cover;
        background-position: center;
    }
}


.card-img-top:hover{
    opacity: 0;
    transition: 300ms ease-out ;
}

#contenedor{
    background-color: rgb(59, 61, 60);
    width: 80%;
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    .cardp {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 550px;
        overflow: hidden;
        }
    
        .img1, .img2 {
        width: 100%;
        height: 550px;
        justify-content: start;
        justify-content: center;
        position: absolute;

        transition: opacity 1s ease;
        }
    
        .img2 {
        opacity: 0; 
    }
    
        .cardp:hover .img1 {
        opacity: 0; 
        }
    
        .cardp:hover .img2 {
        opacity: 1; 
    }
        h5{
            color: rgb(32, 31, 31);
            font-size: 45px;
        }
        p{
            color: $negro;
            font-size: 35px;
        }
        a{
            margin: 10px;
            padding: 0 25px ;
            border-radius: 15px;
            color: $blanco;
            font-size: 30px;
            background-color: $negro;
        }
        a:hover{
            border: 2px $blanco solid;
            transition: 0.5s;
        }
}
.error{
    width: 100%;
    height: 1150px;
    text-align: center;
    background-image: url(./imagen/logos/milei.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    h2{
        font-size: 300px;
    }
    h3{
        
        font-size: 250px;
    }
    a{
        padding: 20px;
        border-radius: 25px;
        border: 2px black solid;
        font-size: 100px;
        background-color: rgba(180, 25, 25, 0.623);
    }
}

.galeriacard{
    margin: 5px 50px;
    display:grid;
    grid-gap: 50px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 750px);
    align-items: center;
    justify-content: center;
    #contenedor{
        align-items: center;
        justify-content: center;
    }
}




    
@media only screen and (max-width:1469px){
    header{
    background-color: $rojo;
    display: flex;
    justify-content: space-around;
    
    .iconos{
    display: none;

    }
    li{
    font-size: 25px;
    padding: 10px;
    }
    }
    
.poner{
    display: flex;
    }
    h1{
        text-align: center;
        font-size: 50px !important;
        width: 300px ;
        height: 100px solid ;
    }
    img{
    height: 200px;
    width: 150px;
    }
    p{
    padding: 0;
    font-size: 15px;
    }
    h1{
    width: 100%;
    padding: 0;
    font-size: 80px;
    }    
    
    .galeriacard{
        grid-template-columns:repeat(3, 1fr) ;
        grid-template-rows: repeat(6 , 350px);
        margin: 5px 20px;
        grid-gap: 5px;
    }
    #contenedor{
        height: 350px;
        width: 100%;
        .cardp{
            height: 300px;
        }
        .img1, .img2{
            height: 250px;
        }
        h5{
            font-size: 20px;
            margin: 0;
        }
        p{
            font-size: 20px;
            margin: 0;
        }
        a{
            font-size: 20px;
            margin: 2px;
            border-radius: 0;
        }
    }
    .slide{
        margin: 5px 80px;
        img{
            height: 500px;
        }
    }
    .error{
        height: 823px;
        width: 100%;
        h2, h3{
        font-size: 100px;
        }
        a{
            font-size: 50px;
            margin: 50px 5px;
            padding: 5px;
        }
    }
}
@media only screen and (max-width:720px){
    header{
    background-color:$negro;
    display :flex;
    flex-direction: column;
    li{
    font-size :15px;
    color: $blanco;
    padding: 5px;
    }
    a{
    color :$blanco;
    }
    .logo a{
    color: $blanco;
    }
    .iconos{
    display: none;
    }
    }
    .poner{
    display :flex;
    flex-direction :column;
    align-items:center;
    
    h1{
    text-align: center;
    font-size: 35px !important;
    width: 170px ;
    height: 50px;
    }
    img{
    display: none;
    }
    p{
    font-size: 15px;
    }    
    }


    .inicio{
        padding: 30px;
        display:grid; 
        height: 250px solid;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(4, 150px);
        grid-template-areas: 
        "img1"
        "img2"
        "img3"
        "img4";
        grid-gap: 5px;
        }
    .oferta{
        font-size: 80PX !important;
    }
    .slide{
        margin: 5px;
        img{
            height: 300px;
        }
        
    }

    #contenedor{
        height: 350px;
        width: 100%;
        .cardp{
            height:350px;
            }
            .img1, .img2{
            height: 300px;
            }
            h5{
                font-size: 20px;
            }
            p{
                font-size: 20px;
                }
            a{
                font-size: 20px;
                width: 100%;
                border-radius: 0;
                margin: 0;
                
            }
        }   
    .galeriacard{
        margin: 5px 50px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 350px );
        grid-gap: 10px;
    }    
    .slide{
        margin: 20px 10px;
    }
    .error{
        height: 850px;
        width: 100%;
        h2{
            font-size: 100px;
            }
        h3{
            font-size: 100px;
        }
        a{
            font-size: 50px;
            margin: 5px 80px 5px 80xs; 
        }


    }
    }