@charset "UTF-8";
* a {
  text-decoration: none;
  color: black;
}

* a:hover {
  color: rgb(59, 59, 10);
}

.elemento {
  border-radius: 25px;
  text-align: center;
  background-position: center;
  background-size: cover;
  font-size: 65px;
}

.calzado {
  border: 1px solid red;
}

.calzado__img {
  height: 350px;
  background-image: url(./img/zapa\ 1.jpg);
  background-position: center;
  background-size: cover;
}

.calzado__texto {
  text-align: center;
  color: red;
}

.calzado__titulo {
  text-align: center;
  background-color: brown;
}

.calzado__buton {
  width: 100%;
  display: block;
  background-color: brown;
  position: relative;
  text-align: center;
  /* padding: 1px 63px; */
}

.calzado__buton:hover {
  background-color: rgba(19, 59, 49, 0.925);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 130px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .logo a {
  font-size: 25px;
  display: flex;
  align-items: start;
  font-style: italic;
}
header .logo a span {
  font-size: 50px;
  padding: 10px;
}
header li {
  display: inline;
  padding: 25px;
  font-size: 30px;
}
header .iconos {
  letter-spacing: 20px;
  font-size: 30px;
}

.poner {
  background-color: rgb(139, 139, 117);
  align-items: start;
  margin: 5%, 0px;
}
.poner h1 {
  font-size: 100px;
  letter-spacing: 8px;
  padding-top: 50px;
  text-align: center;
}
.poner img {
  width: 200px;
  height: 250px;
  float: left;
  margin: 10px;
}
.poner p {
  padding: 35px;
  font-size: 25px;
}

footer {
  text-align: center;
  font-size: 35px;
}
footer .redes {
  text-align: center;
  letter-spacing: 20px;
}

.inicio {
  background-color: rgb(139, 139, 117);
  display: grid;
  grid-template-columns: repeat(3, 10fr);
  grid-template-rows: repeat(4, 180px);
  grid-template-areas: "img1 img1 img1" "img1 img1 img1" "img2 img3 img4" "img2 img3 img4";
  grid-gap: 10px;
  padding: 50px;
}
.inicio .oferta {
  background-image: url(img/oferta.png);
  grid-area: img1;
  font-size: 150px;
}
.inicio .hombres {
  background-image: url(img/HOMBRES.png);
  grid-area: img2;
}
.inicio .mujeres {
  background-image: url(img/mujer.jpg);
  grid-area: img3;
}
.inicio .niños {
  background-image: url(img/niño.png);
  grid-area: img4;
}

.galeria section {
  width: 180px;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 1469px) {
  header {
    background-color: red;
    display: flex;
    justify-content: space-around;
  }
  header .iconos {
    display: flex;
    flex-direction: column;
  }
  header li {
    font-size: 25px;
    padding: 10px;
  }
}
.poner img {
  height: 200px;
  width: 150px;
}
.poner p {
  padding: 0;
  font-size: 15px;
}
.poner h1 {
  padding: 0;
  font-size: 30px;
}

@media only screen and (max-width: 720px) {
  header {
    background-color: black;
    display: flex;
    flex-direction: column;
  }
  header li {
    font-size: 15px;
    color: white;
    padding: 7px;
  }
  header a {
    color: white;
  }
  header .logo a {
    color: white;
  }
  header .iconos {
    display: none;
  }
  .poner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .poner h1 {
    padding: 0;
    font-size: 20px;
    align-items: center;
  }
  .poner img {
    margin: 0;
    height: 70px;
    width: 70px;
  }
  .poner p {
    padding: 5px 10px;
    font-size: 10px;
  }
  .inicio {
    background-color: rgb(139, 139, 117);
    padding: 30px;
    display: grid;
    height: px;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(4, 250px);
    grid-template-areas: "img1" "img2" "img3" "img4";
    grid-gap: 10px;
    margin: 0;
    background-position: initial;
  }
  .oferta {
    background-image: url(img/ofertas.jpg);
    grid-area: img1;
    font-size: 20px;
    text-align: center;
    align-items: center;
  }
  footer {
    font-size: 20px;
  }
}

/*# sourceMappingURL=estilo.css.map */
